@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*          font-family: 'Poppins', sans-serif;             */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap');
/*          font-family: 'Source Serif Pro', serif;             */
*{
    text-decoration: none;
    list-style: none;
}
.position-relative{
    position: relative;
}
button{
    cursor: pointer;
}
.margin-auto{
    display: block;
    margin: auto; 
}
.col-xxl-5_5{
    max-width: 45,83333333333333%;
    padding: 0 15px;
}
/* ========================header  */
header{
    background-image: url(img/headerBGNEW.png);
    padding: 40px 0px 155px 0px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 649px;
    position: relative;
}
header .krosovki{
    position: absolute;
    right: 11.46%;
    top: 50%;
    transform: translateY(-40%);
}
header .hed{
    position: relative;
}
header nav button{
    border-radius: 5px;
    padding: 15px 30px;
    background: #EE5514;
    color: white;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}
header nav ul{
    justify-content: center;
}
header nav ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;    
    color: #1A0A03 !important;
    padding-right: 12px !important;
    padding-left: 12px !important;
}
header nav ul li a:hover{
    font-weight: 500;
    color: rgb(238, 85, 20) !important; 
}
header .justinfo h1{
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 61px;
    line-height: 120%;
    text-align: left;
    width: 366px;
    margin-top: 85px;
    margin-bottom: 55px;
}
header .justinfo h1 span{
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 61px;
    line-height: 120%;
    color: #EE5514;    
}
header .justinfo p{
    width: 326px;
    height: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03; 
    opacity: 0.7;    
    margin-bottom: 60px;
}
header .rightarrow{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(50%);
}

header .settings{
    position: absolute;
    width: 792px;
    height: 125px;
    background: #FFFFFF;
    box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    z-index: 999;
    padding: 0px 30px;
    padding-right: 70px;
}
header .settings h3{
    width: 48px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;    
}
header .settings a{
    width: 54px;
    height: 29px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    text-decoration: none;
}
header .settings a img{
    margin-left: 10px;
}
/* header .settings .box{
    position: relative;
    margin-left: 35px;
} */
header .settings .line1{
    width: 42px;
    height: 0px;
    border: 1px solid #EE5514;
    transform: rotate(90deg);
}
header .settings button{
    border-radius: 5px;
    width: 128px;
    height: 56px;
    background: #EE5514;
    color: white;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    transform: translateX(-15%) translateY(-20%);
}

/* ================= heder */

/* ======video  */
.videopart{
    padding: 240px 0px 100px 0px;
    position: relative;
}
.videopart h2{
    width: 65px;
    height: 30px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;   
    color: #EE5514;    
    margin-top: 14px;
}
.videopart h1{
    width: 340px;
    height: 114px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
    color: #1A0A03;    
}
.videopart p{
    width: 326px;
    height: 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;    
}
.videopart .front{
    width: 555px;
    height: 326px;
    background: url(img/videopartFRONT.jpg);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 4;
    right: 0%;
}
.videopart .back{
    position: absolute;
    width: 555px;
    height: 326px;
    background: url(img/videopartBACKEND.png);
    border-radius: 10px;
    z-index: 1;
    top: -18%;
    right: -6%;
}

/* ======video  */

/* ======feature  */
.feature{
    padding: 100px 0px;
}

.feature h2{
    width: 94px;
    height: 30px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;  
    color: #EE5514;
}
.feature h1{
    width: 588px;
    height: 57px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 130%; 
    text-align: center;
    color: #1A0A03;
}
.feature .box{
    width: 360px;
    height: 423px;
    background: #FFFFFF;
    box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
    border-radius: 10px;
    transition: 0.2s;
    padding: 55px 0px;
    text-align: center;

}
.feature .box:hover{
    background: rgba(238, 85, 20, 0.1);
    border-radius: 10px;
}
.feature .box h3{
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #1A0A03;
    margin-top: 36px;
}
.feature .box p{
    width: 239px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    margin: auto;
    margin-bottom: 20px;
}
.feature .box a{
    width: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #EE5514;
    text-decoration: none;    
}
.feature .box a img{
    margin-left: 6px;
}

/*============= FEATURE */

/* -===============gallary   */

.gallary{
    padding-bottom: 140px;
}
.gallary h2{
    width: 94px;
    height: 30px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #EE5514;
}
.gallary h1{
    width: 498px;
    height: 57px; 
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
    color: #1A0A03;
}

.gallary .Categories ul{
    padding-left: 0 ;
    margin-top: 1rem !important;
}
.gallary .Categories ul li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #1A0A03;
    opacity: 0.7;
}
.gallary .Categories ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #1A0A03;
    text-decoration: none;
    margin: 0px 22px;
}
.gallary .Categories ul li a:hover{
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #EE5514;
    border-bottom: 1px solid #EE5514;
}

.gallary .fourthing{
    margin-top: 55px;
    transition: .2s;
    
}
.gallary .fourthing .col-xxl-3:hover img{
    border: 2px solid #EE5514;

}
.gallary .fourthing img{
    width: 262px;
    height: 170px;
    border: 1px solid rgba(26, 10, 3, 0.1);
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 30px rgba(26, 10, 3, 0.05));
    border-radius: 10px;
    margin-bottom: 27px;
}
.gallary .fourthing h3{
    width: 160px;
    height: 33px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #1A0A03;
}
.gallary .fourthing h4{
    height: 26px;
    left: 230px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.gallary .fourthing h4 span{
    width: 85px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: black !important;
    margin-left: 10px; 
}
.gallary .fourthing button{
    border-radius: 5px;
    width: 128px;
    height: 56px;
    background: #EE5514;
    color: white;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}
/* -===============gallary   */


.Testimonials h1 {
    display: block;
    width: 256px;
    height: 57px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
    color: #1A0A03;    
    text-align: center;
    margin: auto;
    margin-bottom: 55px;
}
.Testimonials .top{
    margin-bottom: 140px;
}
.Testimonials .top h3{
    width: 358px;
    height: 33px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%; 
    text-align: center;
    color: #1A0A03;
    margin-top: 10px;
}
.Testimonials .top p {
    width: 390px;
    height: 44px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.Testimonials .top h4{
    width: 181px;
    height: 29px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
}
.Testimonials .top h5{
    width: 53px;
    height: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.8;
}
.Testimonials .bottom img{
    width: 488px;
    height: 334px;
    filter: drop-shadow(0px 1px 30px rgba(26, 10, 3, 0.07));
    border-radius: 10px 0px 0px 10px;
}
.Testimonials .bottom .left h2{
    width: 358px;
    height: 43px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 140%;
    color: #1A0A03;
    margin-top: 20px;
}
.Testimonials .bottom{
    background-color: rgba(129, 168, 218, 0.1);
    border-radius: 0px 10px 10px 0px;
}
.Testimonials .bottom .left{
    padding: 65px 65px 63px 63px;
}
.Testimonials .bottom .left p{
    width: 525px;
    height: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    margin-top: 20px;
    margin-bottom: 18px;
}
.Testimonials .bottom .left input{
    padding: 15px 30px;
    width: 352px;
    height: 51px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #1A0A03;
    opacity: 0.5;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    border-right: 0;
}
.Testimonials .bottom .left button{
    padding: 15px 30px;
    width: 96px;
    height: 52px;
    background: #EE5514;
    border-radius: 0px 5px 5px 0px;
    border: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
}
/* =======================.Testimonials  */

/* =================foooter  */

footer{
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: rgba(238, 85, 20, 0.04);
}
footer .puma{
    display: flex;
    flex-direction: column;
}
footer .puma .logo{
    display: block;
    width: 94px;
    height: 44px;
}
footer .puma a:nth-child(2){
    width: 203px;
    height: 58px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    text-decoration: none;
    margin: 20px 0px;
}
footer .puma a:nth-child(3){
    width: 265px;
    height: 29px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    text-decoration: none;
    margin-bottom: 10px;
}
footer .puma .social a{
    width: auto !important;
    height: auto !important;
    margin: 0px;
    margin-right: 25px;
}

footer h2{
    width: 111px;
    height: 29px;  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    margin-bottom: 30px;
}
footer .ourservices a{
    display: block;
    width: 80px;
    height: 29px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;  
    opacity: 0.7;
    text-decoration: none;
    margin-bottom: 10px;
}
footer .support a{
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;  
    opacity: 0.7;
    text-decoration: none;
    margin-bottom: 10px;
}
footer .contactus p{
    width: 247px;
    height: 58px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
footer .contactus input{
    padding: 15px 30px;
    width: 225px;
    height: 51px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #1A0A03;
    opacity: 0.5;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    border-right: 0;
}
footer .contactus button{
    padding: 15px 30px;
    width: 96px;
    height: 52px;
    background: #EE5514;
    border-radius: 0px 5px 5px 0px;
    border: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
}
footer hr{
    margin-top: 40px;
    margin-bottom: 30px;
    color: rgba(166, 164, 164, 0.8);
}
footer h1{
    width: 363px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #1A0A03;
    opacity: 0.7;
    margin: auto;
}
/* =================foooter  */


input {
    outline: none;
}




@media (max-width:1399px) {
    .row{
        width: auto;
    }
    .videopart .front{
        right: 2%;
        left: -600px
    }
    .feature .box{
        width: 310px;
    }
    header .settings{
        width: 750px;
        padding: 0px 30px !important;
    }
}
@media (max-width:1199px) {
    .gallary .fourthing img{
        width: 100%;
        height: 250px;
    }
    .gallary .fourthing .col-lg-5{
        margin-bottom: 40px;
    }
    .gallary .fourthing h3{
        font-size: 30px;
        width: auto !important;
    }
    .gallary .fourthing h4{
        font-size: 19px;
    }
    .gallary .fourthing button{
        margin-top: 10px;
    }
    .Testimonials .testimiontopleftimg {
        width: 450px;
        height: 323px;
    }
    .Testimonials .bottom img{
        width: 393px;
        height: 273px;
    }
    .Testimonials .bottom .left{
        padding: 35px 65px 41px 63px;
    }
    .Testimonials .bottom .left p{
        font-size: 14px; 
        width: auto;
        height: auto;
    }
    .Testimonials .bottom .left input{
        width: 310px;
    }
    footer .contactus input{
        width: 200px;
    }
    footer .contactus button{
        height: 51px;
    }
    .feature .box{
        padding: 46px 0px;
        height: 400px;
        width: 260px;
    }
    /* .feature .box:first-child{
        width: 100px;
    } */
    .feature .box p{
        width: 215px;
    }
    .feature .box .margin-auto {
        width: 100px;
    }
    .videopart .front{
        right: 2%;
        left: -529px;
        width: 489px;
        height: 262px;
    }
    .videopart .front a img{
        width: 80px;
    }
    .videopart .back {
        width: 506px;
        height: 272px;
        top: -14%;
        right: -6%;
    }
    header .settings{
        width: 730px;
    }
}

@media (max-width:991px) {
    .Testimonials .testimiontopleftimg{
        width: 100%;
        display: block;
        height: 315px;
        margin: auto;
        margin-bottom: 30px;
    }
    .Testimonials .top h3{
        width: auto;
        font-size: 30px;
        text-align: left;
        margin-bottom: 10px;
    }
    .Testimonials .bottom img{
        width: 100%;
        height: 320px;
    }
    .Testimonials .bottom{
        border-radius: 10px;
    }
    .Testimonials .bottom img{
        border-radius: 10px 10px 0px 0px;
    }
    header .krosovki {
        z-index: 10;
    }
    header .hed{
        z-index: 20;
    }
    header .settings{
        width: 700px;
    }
    .Testimonials .top{
        margin-bottom: 80px;
    }
    .feature .box{
        padding: 20px 0px;
        height: 325px;
        width: 198px;
    }
    .feature .box .margin-auto{
        width: 85px;
    }
    .feature .box h3{
        font-size: 18px;
    }
    .feature .box p{
        width: auto;
        font-size: 12px;
    }
    .feature .box a{
        width: auto;
        font-size: 14px;
    }
    .videopart h2{
        margin-top: -33px;
    }
    .videopart h1{
        width: 123px;
        font-size: 25px;
    }
    .videopart p{
        width: 159px;
        font-size: 15px;
    }
    header nav button{
        margin-left: 60px;
    }
    .navbar-collapse{
        position: relative;
        left: -4.5%;
    }
    .navbar-light .navbar-toggler{
        color: transparent !important;
        border-color: transparent !important;
    }
    .navbar-toggler-icon{
        width: 2.5rem !important;
    }
    footer .support{
        margin-top: 60px;
    }
    footer .contactus{
        margin-top: 60px;
    }
    footer .contactus input{
        width: 185px;
    }
}

@media (max-width:767px) {
    footer{
        padding-top: 40px;
    }
    footer .puma .logo{
        margin: auto;
        display: block;
        width: 120px;
        height: 58px;
    }
    footer .puma .pumaa2{
        margin: auto !important;
        width: auto !important;
        font-size: 22px !important;
    }
    footer .puma .pumaa3{
        margin: auto;
        width: auto;
        font-size: 21px;
    }
    .d-flex{
        margin: auto;
        display: block;
        align-items: center;
    }
    footer h2{
        margin: auto ;
        margin-top: 30px;
        margin-bottom: 35px;
        width: auto;
        font-size: 40px;
    }
    footer .ourservices a{
        margin: auto;
        width: auto;
        font-size: 21px;
    }
    footer .ourservices{
        text-align: center;
        margin-top: 30px;
    }
    footer .support{
        margin-top: 30px;
        text-align: center;
    }
    footer .contactus {
        margin-top: 30px;
        text-align: center;
    }
    footer .contactus p{
        margin: auto;
        margin-bottom: 20px;
    }
    header .justinfo h1{
        text-shadow: 4px 3px 30px black;
    }
    header .justinfo p{
        text-shadow: 4px 3px 30px black;
    }
    header .settings{
        width: 510px;
    }
    header .settings button{
        width: 56px;
        height: 74px;
        font-size: 15px;
        transform: translateX(-35%) translateY(-40%);
    }
    .videopart{
        padding: 155px 0px 100px 0px;
    }
    .videopart .top h2{
        font-size: 40px;
        width: auto;
        padding-bottom: 50px;
    }
    .videopart .top h1{
        font-size: 30px;
        width: auto;
    }
    .videopart .top{
        text-align: center;
    }
    .videopart .back{
        transform: translateY(-30px);
    }
    .feature h1{
        font-size: 30px;
    }
    .feature h2{
        font-size: 36px;
        width: auto;
        padding-bottom: 50px;
    }
    .d-flex{
        margin-top: 52px;
    }
    .feature .box{
        
        width: 297px;
    }
    .feature .box .margin-auto{
        width: 110px;
    }
    .feature .box h3{
        font-size: 23px;
    }
    .feature .box p{
        font-size: 16px;
    }
    .feature .box a{
        font-size: 18px;
    }
    .feature .box{
        margin-bottom: 20px;
        padding-bottom: 15px;
    }
    .gallary h1{
        font-size: 40px;
    }
    .gallary .Categories ul li{
        font-size: 15px;
    }
    .gallary .Categories ul li a{
        font-size: 14px;
    }
    .gallary .d-flex{
        margin-top: 30px;
    }
    .gallary .fourthing img{
        height: 270px;
    }
    .gallary{
        padding-bottom: 60px;
    }
    .Testimonials .bottom .left input{
        width: 290px;
    }
    .gallary .Categories ul li a{
        margin: 0px 15px;
    }
    .feature h1{
        width: auto;
    }
    .gallary h1{
        text-align: center;
    }
    header .settings{
        padding-bottom: 45px !important;
    }
    
}

@media (max-width:576px) {
    header .justinfo h1{
        font-size: 52px;
        width: auto;
    }
    header .justinfo p{
        width: auto;
    }
    header .krosovki{
        /* right: -3.54%; */
    }
    header .settings{
        display: none;
    }
    .videopart{
        padding: 50px 0px 100px 0px;
    }
    .videopart .bottom{
        transform: translateY(50px);
    }
    .videopart .front{
        right: 2%;
        left: -492px;
        width: 437px;
        height: 262px;
    }
    .videopart .back{
        transform: translateY(-26px) translateX(-14px);
        width: 454px;
        height: 264px;
    }
    .gallary .Categories ul li{
        margin-top: 10px;
    }
    .gallary .Categories ul li a{
        font-size: 16px;
    }
    .gallary h2{
    margin: auto;
    width: auto;
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
    }
    .feature{
        margin-bottom: 80px;
    }
    .gallary h1{
        width: auto;
        font-size: 25px;
        height: auto;
    }
    .gallary .d-flex{
        margin-top: 10px;
    }
    footer h1{
        width: auto;
    }
    footer .puma .pumaa2{
    text-align: center;
    margin: auto !important;
    width: auto !important;
    font-size: 17px !important;
    }
    footer .puma .pumaa3{
        text-align: center;
    }
    .Testimonials .bottom img{
        height: 192px;
    }
    .Testimonials .bottom .left h2{
        width: auto;
        font-size: 21px;
        margin-left: 24px;
    }
    .Testimonials .bottom .left p{
        font-size: 12px;
        margin-left: 18px;
    }
    .Testimonials .bottom .left input{
        width: 235px;
        border-right:1px solid black;
        border-radius: 5px 5px 5px 5px;
        margin-left: 33px;
    }
    .Testimonials .bottom .left button{
        margin: auto;
        display: inherit;
        margin-top: 15px;
        border-radius: 5px 5px 5px 5px;
    }
    .Testimonials .top h3{
        font-size: 18px;
    }
    .Testimonials .top p{
        width: auto;
        margin-bottom: 10px;
    }
    .Testimonials .top h4{
        width: auto;
        margin-top: 10px;
        padding-top: 15px;
    }
    .Testimonials .top h5{
        width: auto;
        margin-top: 20px;
    }
    .videopart p{
        display: none;

    }
    .Testimonials .testimiontopleftimg{
        height: 200px;
    }
    .Testimonials .bottom .left{
        padding: 0 !important;
    }
    .videopart {
        display: none;
    }
    .feature{
        padding-top: 20px;
    }
    
}


@media (max-width:505px) {
    .videopart .front{
        right: 2%;
        left: -292px;
        width: 311px;
        height: 262px;
    }
    .videopart .back{
        transform: translateY(-21px) translateX(40px);
    width: 311px;
    height: 264px;
    }
}